<%= render "shared/layout" %>
<div class='content-middle-body'>
  <%= render "shared/sidebar_user" %>
  <div class="wrapper-history">
    <div class="box-auth-home-advertise">
      <% @products.each_slice(4) do |itens| %>
        <div class="box-wrapper-home-advertise">
          <% itens.each do |item| %>
            <%= link_to advertise_product_path(item) do %>
              <div class="item-advertise" >
                <div class="image-advertise">
                  <% if item.images.attached? %>
                      <%= image_tag(item.images.first.representation(resize_to_fit: [117, nil])) %>
                    <% else %>
                      <%=  image_tag('sem-foto.jpg', width: "115px") %>
                    <% end %>
                </div>
                <div class="card-bottom">
                  <div class="title-advertise">
                    <%= item.title %>
                  </div>
                  <div class="info-advertise">
                    <div class="price-advertise"><%= number_to_currency(item.price) %></div>
                    <div class="join-advertise">
                      <%= image_tag('join.svg', size: "40") %>
                      <%= "#{item.interested_amount}/#{item.amount}"  %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
        <%= paginate @products %>
  </div>
</div>
