<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='main'>
    <div class="header-logo">
      <span class="white-name">Market</span><span class="green-name">place</span>
    </div>
    <%= render 'layouts/alert'%>
    <%= yield %>
  </body>
</html>
